<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>{{dataTicker.ticker}} - TRADES</mat-card-title>
    <mat-card-subtitle>{{dataTicker.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button style="margin-left: 75%;"(click)="openImportDialog()" mat-raised-button color="tertiary">Import</button>
    <button style="margin-left: 2%;" (click)="addTransaction()" mat-raised-button color="primary">Add (+)</button>
  </mat-card-actions>
  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="transaction">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Transaction</th>
        <td mat-cell *matCellDef="let element">
          {{element.side | customSide}}
          {{element.quantity}}
          {{element.ticker}}
          {{element.expiration | date:'MMM dd, yyyy'}}
          {{element.strike | currency: 'USD' : 'symbol' : '2.0' }}
          {{element.type | customType}}
        </td><span>assigned</span>
      </ng-container>

      <ng-container matColumnDef="assigned">
        <th mat-sort-header mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'display': getColor(element.assigned)}">
          <mat-chip-set aria-label="assigned" *ngIf="element.assigned">
            <mat-chip class="assigned-chip" disabled>assigned</mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="side">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Side</th>
        <td mat-cell *matCellDef="let element">{{element.side | customSide}}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
      </ng-container>

      <ng-container matColumnDef="ticker">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Ticker</th>
        <td mat-cell *matCellDef="let element">{{element.ticker}}</td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Expiration</th>
        <td mat-cell *matCellDef="let element">{{element.expiration | date:'MMM dd, yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="strike">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Strike</th>
        <td mat-cell *matCellDef="let element">{{element.strike | currency: 'USD' : 'symbol' : '1.0-0' }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Call / Put</th>
        <td mat-cell *matCellDef="let element">{{element.type | customType}}</td>
      </ng-container>

      <ng-container matColumnDef="openDate">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Open Date</th>
        <td mat-cell *matCellDef="let element">{{element.openDate | date:'MMM dd, yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="closeDate">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Close Date</th>
        <td mat-cell *matCellDef="let element">{{element.closeDate | date:'MMM dd, yyyy'}}</td>
      </ng-container>

      <ng-container matColumnDef="premium">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Premium</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element.premium)}">{{element.premium |
          currency: 'USD' | customCurrency}}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" (click)="editTransaction(element)" fontIcon="edit"></mat-icon>
          <mat-icon aria-hidden="false" (click)="deleteTransaction(element)" fontIcon="delete"></mat-icon>
          <!--<button mat-raised-button color="primary" (click)="editTransaction(element)">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteTransaction(element)">Delete</button>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    </table>
  </mat-card-content>
  <br>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>
</mat-card>