<h2 mat-dialog-title>{{inputData.title}} Transaction</h2>
    <mat-dialog-content>
        <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
            <mat-form-field appearance="outline">
                <mat-label>Ticker</mat-label>
                <input matInput formControlName="ticker">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Side</mat-label>
                <mat-select formControlName="side">
                  <mat-option value="buy-to-open">Buy to Open</mat-option>
                  <mat-option value="sell-to-open">Sell to Open</mat-option>
                  <mat-option value="buy-to-close">Buy to Close</mat-option>
                  <mat-option value="sell-to-close">Sell to Close</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput type="number" placeholder="1" formControlName="quantity"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Call / Put</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="call">Call</mat-option>
                  <mat-option value="put">Put</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Strike</mat-label>
                <input matInput type="number" placeholder="0" formControlName="strike"/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Expiration</mat-label>
                <input matInput [matDatepicker]="expirationDatePicker" formControlName="expiration">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #expirationDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field floatLabel="always" appearance="outline">
                <mat-label>Premium</mat-label>
                <input matInput type="number" placeholder="0.00" formControlName="premium"/>
                <span matTextPrefix>$&nbsp;</span>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Open Date</mat-label>
                <input matInput [matDatepicker]="openDatePicker" formControlName="openDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="openDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #openDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Close Date</mat-label>
                <input matInput [matDatepicker]="closeDatePicker" formControlName="closeDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="closeDatePicker"></mat-datepicker-toggle>
                <mat-datepicker [dateClass]="dateClass" #closeDatePicker></mat-datepicker>
            </mat-form-field>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button type="submit" (click)="saveTransaction()">{{inputData.title}}</button>
        <a (click)="closeForm()" mat-raised-button color="warn">Close</a>
    </mat-dialog-actions>