<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <p></p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="transaction">
            <th mat-header-cell *matHeaderCellDef> Transaction</th>
            <td mat-cell *matCellDef="let element">
                {{element.openSide | customSide}}
                {{element.quantity}}
                {{element.ticker}}
                {{element.expiration | date:'MMM dd, yyyy'}}
                {{element.strike | currency: 'USD' : 'symbol' : '1.0-2' }}
                {{element.type | customType}}
                <span *ngIf="element.type ==='stock' && element.openSide === 'buy'">&#64; {{calcStockPrice(element.premium, element.openAmount, element.quantity) | currency: 'USD' : 'symbol' : '1.0-2'}}</span>
                <span *ngIf="element.type ==='stock' && element.openSide === 'sell'">&#64; {{calcStockPrice(element.premium, element.closeAmount, element.quantity) | currency: 'USD' : 'symbol' : '1.0-2'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="chips">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <mat-chip-set aria-label="chips">
                    <mat-chip class="assigned-chip" *ngIf="element.assigned">assigned</mat-chip>
                    <mat-chip class="assigned-chip" *ngIf="element.openSide === 'expiration'">expired</mat-chip>
                    <mat-chip class="open-chip" *ngIf="element.closeDate === null">open</mat-chip>
                </mat-chip-set>
            </td>
        </ng-container>

        <ng-container matColumnDef="openDate">
            <th mat-header-cell *matHeaderCellDef> Open Date</th>
            <td mat-cell *matCellDef="let element">{{element.openDate | date:'MMM dd, yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="openAmount">
            <th mat-header-cell *matHeaderCellDef> Open Amount</th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element.openAmount)}">{{element.openAmount
                | currency: 'USD' | customCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="closeDate">
            <th mat-header-cell *matHeaderCellDef> Close Date</th>
            <td mat-cell *matCellDef="let element">{{element.closeDate | date:'MMM dd, yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="closeAmount">
            <th mat-header-cell *matHeaderCellDef> Close Amount</th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element.closeAmount)}">
                {{element.closeAmount |
                currency: 'USD' | customCurrency}}</td>
        </ng-container>

        <ng-container matColumnDef="premium">
            <th mat-header-cell *matHeaderCellDef> Premium</th>
            <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element.premium)}">{{element.premium |
                currency: 'USD' | customCurrency}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <a (click)="closeDialog()" mat-raised-button color="warn">Close</a>
</mat-dialog-actions>