<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" dynamicHeight [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="selectedTabIndex">
    <div *ngFor="let tab of openTabs">
        <mat-tab *ngIf="tab === summaryTab">
            <ng-template mat-tab-label>
                <b>{{summaryTab}}</b>
            </ng-template>
            <div class="grid-container">
                <app-summary-grid (detailsClickEvent)="onAddingTab($event)"></app-summary-grid>
            </div>
        </mat-tab>
        <mat-tab *ngIf="tab === statisticTab">
            <ng-template mat-tab-label>
                <b>{{statisticTab}}</b>
            </ng-template>
            <div class="grid-container">
                <app-trades-statistic-grid></app-trades-statistic-grid>
            </div>
        </mat-tab>
        <mat-tab *ngIf="tab !== summaryTab && tab!==statisticTab">
            <ng-template mat-tab-label>
                <b>{{tab.ticker}} {{tab.year}}</b>
                <mat-icon aria-hidden="false" (click)="removeTab(tab)" fontIcon="close"></mat-icon>
            </ng-template>
            <div class="grid-container">
                <mat-grid-list cols="6" rowHeight="1200px">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <div class="mat-grid-tile-content">
                            <app-trades-summary [dataTicker]="tab"></app-trades-summary>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="3" [rowspan]="2">
                        <div class="mat-grid-tile-content">
                            <app-transactions-grid [dataTicker]="tab"></app-transactions-grid>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-tab>
    </div>
</mat-tab-group>