div.grid-container {
    max-width: 3000px;
    overflow-x: auto;
}

mat-card.dashboard-card {
    width: 750px;
}

mat-card-title {
    text-align: left;
    margin-left: 0%;
}

mat-card-subtitle {
    text-align: left;
    margin-left: 0%;
}

mat-card-content.total-by-tickers {
    overflow-y: auto;
    height: 900px;
    /* Adjust height as needed */
}

mat-card-content.total-by-years {
    overflow-y: auto;
    height: auto;
    /* Adjust height as needed */
}

mat-card-content.total-by-months {
    overflow-y: auto;
    height: auto;
    /* Adjust height as needed */
}

mat-card-content.chart {
    overflow-y: auto;
    height: auto;
    /* Adjust height as needed */
}

div.mat-grid-tile-content {
    display: flex; align-items: flex-start; margin: 10px;
}