<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>{{dataTicker.group}}</mat-card-title>
        <mat-card-subtitle>{{dataTicker.tickers}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-label>SHORT PUT NET PREMIUM: </mat-label>
                <span [ngStyle]="{'color': getColor(putNetPremium)}">{{putNetPremium | currency: 'USD' | customCurrency}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>SHORT CALL NET PREMIUM: </mat-label>
                <span [ngStyle]="{'color': getColor(callNetPremium)}">{{callNetPremium | currency: 'USD' | customCurrency}}</span> 
            </mat-list-item>
            <mat-divider *ngIf="sharesTotalNetPremium !== 0"></mat-divider>
            <mat-list-item *ngIf="sharesTotalNetPremium !== 0">
                <mat-label>SOLD SHARES PREMIUM: </mat-label>
                <span [ngStyle]="{'color': getColor(sharesTotalNetPremium)}">{{sharesTotalNetPremium | currency: 'USD' | customCurrency}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>TOTAL NET PREMIUM: </mat-label>
                <span [ngStyle]="{'color': getColor(totalNetPremium)}">{{totalNetPremium | currency: 'USD' | customCurrency}}</span> 
            </mat-list-item>
            <mat-divider *ngIf="sharesQty !== 0"></mat-divider>
            <mat-list-item *ngIf="sharesQty !== 0">
                <mat-label>OPEN SHARES QUANTITY: </mat-label>
                <span>{{sharesQty}}</span> 
            </mat-list-item>
            <mat-divider *ngIf="sharesQty !== 0"></mat-divider>
            <mat-list-item *ngIf="sharesQty !== 0">
                <mat-label>PRICE PER SHARE: </mat-label>
                <span>{{pricePerShare | currency: 'USD'}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>RISK: </mat-label>
                <span>{{risk | currency: 'USD'}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>BREAK EVEN: </mat-label>
                <span>{{breakEven| currency: 'USD'}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>DAYS: </mat-label>
                <span>{{days}}</span> 
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-label>ANNUALIZED RETURN: </mat-label>
                <span>{{annualizedReturn | percent}}</span> 
            </mat-list-item>
          </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon> Like</button>
        <button mat-button><mat-icon>share</mat-icon> Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
</mat-card>