mat-card-title {
    text-align: left;
    margin-left: 0%;
}
mat-card-subtitle {
    text-align: left; 
    margin-left: 0%;
}

mat-chip.open-chip {
    font-size: xx-small;
    color: white;
    background-color: whitesmoke;  /* Change this to your desired color */
    color: rgb(248, 248, 248);  /* Adjust text color for contrast */
  }

  mat-chip.shares-chip {
    font-size: xx-small;
    color: white;
    background-color: rgb(208, 236, 246);  /* Change this to your desired color */
    color: rgb(248, 248, 248);  /* Adjust text color for contrast */
  }