<mat-card class="dashboard-card">
    <mat-card-header>
        <mat-card-title>TRADES SUMMARY</mat-card-title>
        <mat-card-subtitle>individual portfolio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <!--         <div>
            <mat-button-toggle-group name="calendarYear" aria-label="Year">
                <mat-button-toggle value="2022">2022</mat-button-toggle>
                <mat-button-toggle value="2023">2023</mat-button-toggle>
                <mat-button-toggle value="2024">2024</mat-button-toggle>
            </mat-button-toggle-group>
        </div> -->
        <mat-form-field style="margin-left: 1%;" appearance="fill">
            <mat-label>Year</mat-label>
            <mat-select [(ngModel)]="calendarYear" (selectionChange)="filterByYear($event)">
                <mat-option *ngFor="let option of yearOptions" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 1%;">
            <mat-label>Group</mat-label>
            <mat-select multiple>
                <mat-option [value]="group">META</mat-option>
                <mat-option [value]="group">BIG 2022</mat-option>
            </mat-select>
        </mat-form-field>
        <button style="margin-left: 55%;" mat-raised-button color="primary">
            Add
            <mat-icon aria-hidden="false" fontIcon="add_circle_outline"></mat-icon>
        </button>
        <button style="margin-left: 1%;" (click)="openImportDialog()" mat-raised-button color="tertiary">
            Import
            <mat-icon aria-hidden="false" fontIcon="upload_file"></mat-icon>
        </button>
    </mat-card-actions>


    <mat-card-content>
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="ticker">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Ticker</th>
                <td mat-cell *matCellDef="let element">{{element.ticker}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="chips">
                <th mat-sort-header mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-set aria-label="chips">
                        <mat-chip class="open-chip" *ngIf="isFutureDate(element.closeDate)">open</mat-chip>
                        <mat-chip class="shares-chip" *ngIf="element.sharesQty > 0">shares</mat-chip>
                    </mat-chip-set>
                </td>
            </ng-container>

            <ng-container matColumnDef="totalNetPremium">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Total Net Premium</th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'color': getColor(element.totalNetPremium )}">
                    {{element.totalNetPremium | currency: 'USD' | customCurrency}}</td>
            </ng-container>

            <ng-container matColumnDef="openDate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Open Date</th>
                <td mat-cell *matCellDef="let element">{{element.openDate | date:'MMM dd, yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="closeDate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Close Date</th>
                <td mat-cell *matCellDef="let element">{{element.closeDate | date:'MMM dd, yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="risk">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Risk</th>
                <td mat-cell *matCellDef="let element">{{element.risk | currency: 'USD'}}</td>
            </ng-container>

            <ng-container matColumnDef="breakEven">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Break Even</th>
                <td mat-cell *matCellDef="let element">{{element.breakEven | currency: 'USD'}}</td>
            </ng-container>

            <ng-container matColumnDef="annualizedReturn">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Annualized Return</th>
                <td mat-cell *matCellDef="let element">{{element.annualizedReturn | percent}}</td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="onDetails(element)">Details</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>